.app-main {
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20em);
  grid-auto-rows: 20em;
  justify-content: center;
  gap: 3em;
  padding: 2em;
}

/* to make square piece */

/* end square */

.grid-container > * {
  background-color: #fff;
  backdrop-filter: blur(1rem);
  border-radius: 2em;
/*   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  grid-auto-flow: row dense;
}

.box-2-1 {
  grid-column-end: span 2;
}

.box-3-1 {
  grid-column-end: span 3;
}
.box-1-2 {
  grid-row-end: span 2;
}


.box-2-2 {
  grid-row-end: span 2;
  grid-column-end: span 2;
}

.main-box {
  overflow: hidden;
}

.box-page1 {
  overflow: auto;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.box-page2 {
  overflow: auto;
  margin-top: 10px;
  background-color: #ffa;
  width: 88vw;
  height: 90vh;
  border-radius: 10px;
}

.title {
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
}

.text {
  padding: 0 20px 0 20px;
  font-size: 16px;
  text-align: justify;
}

.user-image {
  left: 10em;
  height: 15em;
  width: 15em;
  object-fit: cover;
  border-radius: 100em;
}